<div *ngIf="persona">
    <div>
        <label>Name: </label> {{persona.nombre}}
    </div>
    <div>
        <label>LastName: </label> {{persona.apellido}}
    </div>
    <div>
        <label>Fecha Nacimiento: </label> {{persona.fechaNacimiento}}
    </div>
    <div>
        <label>Email: </label> {{persona.eMail}}
    </div>
    <div>
        <label>Celular: </label> {{persona.telefonoCelular}}
    </div>
    <div>
        <label>Estado: </label> {{persona.estado}}
    </div>
    <div>
        <label>Rol: </label> {{persona.rol}}
    </div>
    <div>
        <label>Active: </label> {{persona.active}}
    </div>

    <span class="button is-small btn-primary" *ngIf='persona.active' (click)='updateActive(false)'>Inactive</span>

    <span class="button is-small btn-primary" *ngIf='!persona.active' (click)='updateActive(true)'>Active</span>

    <span class="button is-small btn-danger" (click)='deletePersonas()'>Delete</span>

    <hr/>
</div>